/* Globální styly */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #888d8c;
    color: #333;
    overflow-x: hidden;
}
header {
    background-color: rgba(45, 106, 79, 0.8); /* Průhledné pozadí */
    color: #ffffff;
    padding: 20px;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}
h1 {
    font-size: 2.5em;
    animation: slideIn 2s ease-in-out;
}
#image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}
.container {
    width: 80%;
    margin: auto;
    padding-left: 120px;
}
section {
    margin: 20px 0;
    padding: 20px;
    background-color: rgba(240, 253, 244, 0.8); /* Průhledné pozadí sekcí */
    border-left: 5px solid rgba(45, 106, 79, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 80vh; /* Sekce zabere 80 % výšky obrazovky */
    
    /* Vycentrování obsahu */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertikální vycentrování */
    align-items: center;    /* Horizontální vycentrování */
    text-align: center;     /* Zarovnání textu na střed */
}
footer {
    background-color: rgba(45, 106, 79, 0.8); /* Průhledné pozadí */
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Postranní lišta */
.sidebar {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: rgba(45, 106, 79, 0.8); /* Průhledné pozadí */
    padding: 20px 10px;
    border-radius: 0 5px 5px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar li {
    margin: 15px 0;
}
.sidebar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    display: block;
    text-align: center;
    padding: 10px 0;
    transition: background-color 0.3s;
}
.sidebar a:hover {
    background-color: rgba(27, 75, 59, 0.8);
    border-radius: 3px;
}

/* Animace */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes slideIn {
    from { transform: translateX(-100px); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}
